数据准备

In [3]:
import pandas as pd
import numpy as np
df = pd.read_csv(r"C:\Users\Elieen\Desktop\prob_10_data.csv")
df = df.drop(columns=["tradeDate"], inplace=False)
target = "600093" # 深证B指股票代码

print(df.head(5)) 
# 200152,200553,....分别为各成分股的股票代码。

X_data = df.drop(columns=[target], inplace=False)
y_data = df[target]

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_data, y_data, test_size=0.3, random_state=42)

   200152  200553  200761  200530  200488  200413  200055  200026  200030  \
0    5.26    4.47    1.83    1.77    2.59    1.06    2.37    6.54    2.81
1    5.49    4.50    1.83    1.77    2.58    1.04    2.38    6.55    2.83
2    5.72    4.45    1.84    1.84    2.53    1.06    2.38    6.54    2.82
3    5.43    4.49    1.84    1.83    2.56    1.08    2.38    6.53    2.82
4    5.23    4.49    1.83    1.83    2.55    1.06    2.38    6.53    2.81

   200596  ...  200706  200028  200539  200429  200541  200869  200625  \
0  119.46  ...    3.13   16.96    2.14    5.73    2.68   12.45    4.22
1  118.00  ...    3.13   17.00    2.17    5.75    2.71   12.42    4.22
2  117.51  ...    3.13   16.96    2.16    5.74    2.66   12.33    4.09
3  118.30  ...    3.13   16.95    2.17    5.74    2.67   12.25    4.19
4  118.08  ...    3.22   16.82    2.21    5.74    2.69   12.18    4.16

   201872  200992    600093
0    8.65    2.71  1216.090
1    8.66    2.72  1213.696
2    8.75    2.73  1203.307
3    8.78    2.73  1208.822
4    8.73    2.73  1208.085

[5 rows x 43 columns]

进行Lasso回归，选择变量

In [4]:
from sklearn.linear_model import Lasso 
lasso_regression = Lasso(alpha=0.1)
model=lasso_regression.fit(X_train,y_train)

In [5]:
# 分别输出在训练集和测试集上的得分
print("train", model.score(X_train, y_train))
print("test", model.score(X_test, y_test))

train 0.9950746802796457
test 0.9958682147339668

在测试集上也可以得到99.58%的score，说明我们的模型拟合得不错。接下来可以看一下我们选择出了哪些变量（即哪些变量的系数没有被压缩到0）

In [6]:
model.coef_

array([ 1.85162959,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  2.47512964,
       13.92530638,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  3.02934564,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        , 12.5928487 ,  0.        ,  0.        ,  4.60730321,
        0.        ,  0.        ,  0.        ,  9.26195889, 29.02014484,
        0.        ,  0.        ])

In [7]:
idx=[i+1 for i,x in enumerate(model.coef_) if x > 0 ]
print(idx)

[1, 10, 11, 22, 32, 35, 39, 40]

In [8]:
# 对比一下test上的预测值和真实值，还是很相近的
pd.concat([pd.DataFrame({"predict":model.predict(X_test)}),pd.DataFrame({"true_value":np.array(y_test)})],axis=1)

        predict  true_value
0   1133.061789    1135.638
1   1218.175902    1216.090
2   1123.071189    1119.063
3   1103.328250    1102.157
4   1152.855212    1147.695
5   1128.741802    1130.036
6   1188.121211    1185.467
7   1161.477620    1161.723
8   1208.253616    1208.085
9   1184.623084    1188.684
10  1129.243555    1129.468
11  1102.637248    1102.727
12  1157.956196    1158.905
13  1077.368280    1072.365
14  1160.421770    1161.908
15  1125.043965    1126.713
16  1145.835033    1144.861
17  1165.253307    1165.469
18  1119.357022    1120.824
19  1101.378369    1102.179
20  1198.808625    1200.846
21  1153.885817    1153.616
22  1211.550426    1209.204
23  1134.710418    1138.063
24  1104.168439    1100.710